<div class="pdt50"></div>
<div class="row">
  <div class="col s10 offset-m3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :name, required: true, id:'name'%>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.email_field :email, required: true, id: "email"%>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.password_field :password, autocomplete: "off",required:true, id: "Password" %>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <%= f.password_field :password_confirmation, autocomplete: "off",required:true, id: "CPassword" %>
            <label for="CPassword">Confirm Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.button "", class: "btn waves-effect waves-light" do %>
            Sign Up
            <i class="material-icons right">send</i>
          <% end %>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords'%>
            <%= link_to "Forgot Password?", new_password_path(resource_name), class: 'right' %>
          <% end -%>
        </div>
      </div>
    <% end %>
  </div>
</div>
    <!-- <div class="center aligned column"> -->
      <%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%#= link_to "Sign up", new_registration_path(resource_name),class: "ui blue button" %>
      <%# end -%>
      <%#= render "devise/shared/links" %>
    <!-- </div> -->
<script type="text/javascript">
  Materialize.updateTextFields();
</script>
