<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-dnd="true">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <!--<![endif]-->

  <!--[if (gte mso 9)|(IE)]><style type="text/css">
  table {border-collapse: collapse;}
  table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}
  img {-ms-interpolation-mode: bicubic;}
  </style>
  <![endif]-->
  <style type="text/css">
  body {
    color: #626262;
  }
  body a {
    color: #7ED321;
    text-decoration: none;
  }
  p { margin: 0; padding: 0; }
  table[class="wrapper"] {
    width:100% !important;
    table-layout: fixed;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  img[class="max-width"] {
    max-width: 100% !important;
  }
  @media screen and (max-width:480px) {
    .preheader .rightColumnContent,
    .footer .rightColumnContent {
        text-align: left !important;
    }
    .preheader .rightColumnContent div,
    .preheader .rightColumnContent span,
    .footer .rightColumnContent div,
    .footer .rightColumnContent span {
      text-align: left !important;
    }
    .preheader .rightColumnContent,
    .preheader .leftColumnContent {
      font-size: 80% !important;
      padding: 5px 0;
    }
    table[class="wrapper-mobile"] {
      width: 100% !important;
      table-layout: fixed;
    }
    img[class="max-width"] {
      height: auto !important;
    }
    a[class="bulletproof-button"] {
      display: block !important;
      width: auto !important;
      font-size: 80%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    #templateColumns{
        width:100% !important;
    }

    .templateColumnContainer{
        display:block !important;
        width:100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
  }
  </style>
  <style>
  body, p, div { font-family: Palatino, georgia, serif; }
</style>
  <style>
  body, p, div { font-size: 15px; }
</style>
</head>
<body yahoofix="true" style="min-width: 100%; margin: 0; padding: 0; font-size: 15px; font-family: Palatino, georgia, serif; color: #626262; background-color: #f4f4f4; color: #626262;" >
  <center class="wrapper">
    <div class="webkit">
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#f4f4f4">
      <tr><td valign="top" bgcolor="#f4f4f4" width="100%">
      <!--[if (gte mso 9)|(IE)]>
      <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
          <![endif]-->
            <table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="100%"><table width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td>
                    <!--[if (gte mso 9)|(IE)]>
                      <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td>
                            <![endif]-->
                              <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width:600px;" align="center">
                                <tr><td role="modules-container" style="padding: 0px 0px 0px 0px; color: #626262; text-align: left;" bgcolor="#ffffff" width="100%" align="left">
                                  <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="display:none !important; visibility:hidden; opacity:0; color:transparent; height:0; width:0;" class="module preheader preheader-hide" role="module" data-type="preheader">
  <tr><td role="module-content"></td></tr>
</table>
<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0"  width="100%" style="table-layout: fixed;">
<tr>
  <td role="module-content"  valign="top" height="100%" style="padding: 64px 34px 34px 34px;" bgcolor=""><div style="text-align: center;"><span style="font-size:26px;"><span style="color:#000000;">Hello!</span></span></div>
    <br>
    <div style="text-align:left;">
      Please help us in knowning your experience about selling or exchanging your tickets / gift cards with others. Simply, follow link below and just answer 4 questions in less than 2 minutes. Believe us feedback will change the way you exchange or worry about your passes or gift cards.
      <br><br>
      Thanks!
    </div>
  </td>
</tr>
</table>
<table class="module" role="module" data-type="button" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" >
<tr>
  <td style="padding: 11px 0px 50px 0px;" align="center" bgcolor="#ffffff">
    <table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile">
      <tr>
        <td align="center" style="-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; font-size: 16px;" bgcolor="#f47920">
          <a href="https://goo.gl/forms/xQzMyaOFoNw8hOa32" class="bulletproof-button" target="_blank" style="height: 45px; width: 200px; font-size: 16px; line-height: 45px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; padding: 6px 10px 5px 10px; text-decoration: none; color: #ffffff; text-decoration: none; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; border: 1px solid #f47920; display: inline-block;">Follow Questions</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
<!-- <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="module footer" role="module" data-type="footer">
  <tr><td style="padding: 41px 35px 24px 35px;" bgcolor="#f47920">
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
      <tr role="module-content">

        <td align="center" valign="top" width="50%" height="100%" class="templateColumnContainer">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
            <tr>
              <td class="leftColumnContent" role="column-one" height="100%" style="height:100%;"><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0"  width="100%" style="table-layout: fixed;">
<tr>
  <td role="module-content"  valign="top" height="100%" style="padding: 0px 0px 0px 0px;" bgcolor=""><div style="font-size: 10px; line-height: 150%; margin: 0px;">&nbsp;</div>  <div style="font-size: 10px; line-height: 150%; margin: 0px;">&nbsp;</div>  <div style="font-size: 10px; line-height: 150%; margin: 0px;"> </td>
</tr>
</table>
</td>
            </tr>
          </table>
        </td>
        <td align="center" valign="top" width="50%" height="100%" class="templateColumnContainer">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
            <tr>
              <td class="rightColumnContent" role="column-two" height="100%" style="height:100%;">
                <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0"  width="100%" style="table-layout: fixed;">
<tr>
  <td role="module-content"  valign="top" height="100%" style="padding: 0px 0px 0px 0px;" bgcolor=""> <div style="font-size: 10px; line-height: 150%; margin: 0px; text-align: right;"><span style="color:#FFFFFF;"><span style="font-family:arial,helvetica,sans-serif;"></span></span></div> <div style="font-size: 10px; line-height: 150%; margin: 0px; text-align: right;"><span style="color:#FFFFFF;"><span style="font-family:arial,helvetica,sans-serif;">Malad</span></span></div> <div style="font-size: 10px; line-height: 150%; margin: 0px; text-align: right;"><span style="color:#FFFFFF;"><span style="font-family:arial,helvetica,sans-serif;">Mumbai, Mahrashtra </span></span></div> </td>
</tr>
</table>
</td>
            </tr>
          </table>
        </td>

      </tr>
    </table>
  </td></tr>
</table> -->

                                </tr></td>
                              </table>
                            <!--[if (gte mso 9)|(IE)]>
                          </td>
                        </td>
                      </table>
                    <![endif]-->
                    </td>
                  </tr>
                </table></td>
              </tr>
            </table>
          <!--[if (gte mso 9)|(IE)]>
          </td>
        </tr>
      </table>
      <![endif]-->
      </tr></td>
      </table>
    </div>
  </center>
</body>
</html>
