<%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%#= link_to "Forgot Password?", new_password_path(resource_name), class: 'ui green button' %>
<%# end -%>

<div class="center">
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to  omniauth_authorize_path(resource_name, provider), class: "ui #{provider.to_s} button" do %>
        <% if provider.to_s == 'facebook'%>
          <i class="facebook icon"></i><%=provider.to_s.titleize%>
        <%else%>
        <div class="or"></div>
          <i class="twitter icon"></i><%=provider.to_s.titleize%>
        <%end%>
      <%end%>
    <% end -%>
  <% end -%>
</div>


<%#- if controller_name != 'sessions' %>
  <%#= link_to "Sign in", new_session_path(resource_name),class: "ui blue button" %>
<%# end -%>

<%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%#= link_to "Sign up", new_registration_path(resource_name),class: "ui blue button" %>
<%# end -%>


<%#- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%#= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
<%# end -%>

<%#- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%#= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
<%# end -%>
