<div class="pdt50"></div>
<div class="row">
  <div class="col s10 offset-m3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="row">
        <div class="input-field col s6">
          <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true, id: 'password' %>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true, id: 'CPassword' %>
          <label for="CPassword">Confirm Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= f.button "", class: "btn waves-effect waves-light" do %>
            Change Password
            <i class="material-icons right">send</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
