<div class="pdt50"></div>
<div class="row">
  <div class="col s10 offset-m3">
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>
			<div class="row">
				<div class="input-field col s6">
					<%= f.email_field :email, required: true, id: 'email'%>
					<label for="email">Email</label>
				</div>
			</div>
		  <div class="row">
				<div class="input-field col s6">
					<%= f.button "", class: "btn waves-effect waves-light" do %>
						Reset Password
						<i class="material-icons right">send</i>
					<% end %>
				</div>
		  </div>
		<% end %>
	</div>
</div>
