<div class="pdt50"></div>
<div class="row">
  <div class="col s12 m12">
   <h3 class="">About</h3>

  <p>Tuts Hunt is created after realising the issues faced by majority of people, who are looking for tutorials. Many a times people end up landing on tutorials which are of no use to them. So in order to reduce this pain of looking for appropriate tutorials, TutsHunt is created. TutsHunt works on the idea "if someone has already done the job, then let the other person take benifit from it". Here in TutsHunt, if user has got any tutorial which can benifit others as well they can share the Tutorial url on this Platform. This will reduce the pain of other users, who would be looking for same topics. </p>

  <p>The platform has just came into picture, and will be elated by the response and help of its users.
  <br>This platform is not restricted to only technological tutorials, but also tutorials related to cooking, science,education etc</p>

  <p><b>*The content which shows adultery will not be supported and user adding mulitple such contents will be blocked from using the platform any further.</b></p>

  <p><b>Ultimate Goal:</b> <br> The ultimate goal of TutsHunt is to reach maximum people trying to learn new things by providing them tutorial links in lesser time, this will reduce the pain of user's reading/visiting multiple or meaningless tutorials.</p>

  <a href="http://www.tutshunt.com/contact" class="btn waves-effect waves-light"> Get In Touch </a>
  <!-- <p>Glimpses on which we are currently working on.</p> -->

  <!-- <ul class="list">
    <li>Comments</li>
    <li>Search (beta available)</li>
    <li>Tuts Category</li>
    <li>Redesign</li>
    <li>APIs</li>
    <li>Mobile apps</li>
  </ul> -->

  <!-- <p>Do share the "TutsHunt" among your circle and keep visiting, Happy Tuts Hunting!</p> -->
  </div>
</div>
