<div class="pdt50"></div>
<div class="row">
	<div class="col s12 m12">
		<div id="trending_tuts"></div>
	</div>
</div>



<script type="text/javascript">
	$(function () {
    $('#trending_tuts').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Trends'
        },
        xAxis: {
            categories: <%= raw @name %> ,
            title: {
                text: 'Tutorials'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Views',
                align: 'low'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' times'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
        		name : 'Tutorial Visited',
            data: <%= raw @visit %>
        }]
    });
});
</script>
