<div class="pdt50"></div>
<div class="row">
  <div class="col s12 m12">
   <h3 class="">Privacy Policy</h3>

    <p>Tuts Hunt is proactively committed in protecting your privacy online. This privacy policy explains what information we collect from you or what information you share with us when you visit the website. <br>
    As a user of Tuts Hunt, you must agree to have read our privacy policy before sharing any information with us. <br>
    The user is free to access tutorial links from websites Home page without any SIGNUP/SIGNIN, if user doen't want to register with us. Further to add any url onto the platform, the user needs to either SIGNUP once or SIGNIN whenever it is needed or asked.The information needed for posting tutorial links under your name will only be your EMAILID and NAME. <br>
    We donot sell any user personal information to others. The personal information being shared on this platform during signup/signin will not be disclosed to any third party. This information is only to provide user with the access to the platform and also to verify the authentication of user.
    If user subscribes on our platform page, we also help user in updating them with the latest tutorials being shared by others. <br>
    Tuts Hunt consist of links shared by other authenticate users, whereas linked websites are governed by their own privacy policies. Tuts Hunt do not claim any responsibilty resulting due to the user actions on the linked website. We request users to visit the linked websites privacy policy before sharing any personal information on those websites. <br>
    We are commited to keep all the personal information of users, as long as they are registered , subscribed on our platform under the online privacy.
    The data is secured on the servers, that can only be used by the users with their passwords. The team working on the data security is commited to keep all the information secure and safe for all our users.
  </p>
  <p><a href="http://www.tutshunt.com/contact" class="btn waves-effect waves-light"> Get In Touch </a> </p>
  </div>
</div>
