<div class="pdt50"></div>
<div class="row">
  <%= form_for @contact do |f| %>
  <div class="col s10 offset-m3">
    <h5>Your Feedback is important to us!</h5>
    <div class="row">
      <div class="input-field col m6 s12">
        <%= f.text_field :name, :required => true, id: "name" %>
        <label for="name">Name</label>
      </div>
    </div>
      <div class="row">
        <div class="input-field col m6 s12">
         <%= f.email_field :email, :required => true, id: "email" %>
         <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 s12">
          <%= f.text_field :message, :as => :text, :required => true, id: "message" %>
          <label for="message">Message</label>
        </div>
      </div>
      <div class="row">
        <div class="col m6 s12">
          <%= f.button "", class: "btn waves-effect waves-light" do %>
              Send Message
            <i class="material-icons right">send</i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
