<div class="pdt50"></div>
<div class="row">
  <div class="col s10 offset-m3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="input-field col m6 s12">
          <%= f.email_field :email, required: true, id:'email', class:"validate" %>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 s12">
          <%= f.password_field :password, required: true, id: 'password', class:"validate" %>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 s12">
          <% if devise_mapping.rememberable? -%>
            <div class="inline ui checkbox">
              <%= f.check_box :remember_me%>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="col m6 s12">
          <%= f.button "", class: "btn waves-effect waves-light" do %>
              Log in
            <i class="material-icons right">send</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if notice %>
  <script type="text/javascript">
    Materialize.toast('<%= notice %>', 10000, 'rounded')
  </script>
<% end %>
<% if alert %>
  <script type="text/javascript">
    Materialize.toast('<%= alert %>', 10000, 'rounded')
  </script>
<% end %>
<script type="text/javascript">
  Materialize.updateTextFields();
</script>
