<div class="pdt50"></div>
<div class="row">
  <div class="col s10 offset-m3">
    <%= form_for(@post) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="input-field col m6 s12">
          <%= f.text_field :name, placeholder: "Name Of the Tutorial", required: true, autofocus:true, spellchecker: true %>
          <label>Name</label>
          <!-- <i class="user icon"></i> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 s12">
          <%= f.url_field :link, placeholder: "http://www.example.com/", required: true %>
          <label>Link</label>
          <!-- <i class="user icon"></i> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 s12">
            <%= f.text_field :tags,placeholder: "Tag line", spellchecker: true, required:true %>
            <label>Tags</label>
          <!-- <i class="user icon"></i> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 s12">
          <%= f.text_field :category,placeholder: "Category", spellchecker: true %>
          <label>Category</label>
           <!-- <i class="user icon"></i> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 s12">
          <div class="right"><%= link_to 'Back', posts_path, class: "btn waves-effect waves-light" %></div>
            <%= f.button "" , class: "btn waves-effect waves-light" do %>
              Save
              <i class="material-icons right">send</i>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  Materialize.updateTextFields();
</script>
