<div class="ui four column doubling stackable grid container post">
  <% @posts.each do |post| %>
    <div class="column">
      <div class="ui blue card">
        <div class="content">
          <!-- <i class="right floated star icon"></i> -->
          <div class="right floated meta"><%= post.created_at.strftime("%d-%b-%Y")%></div>
          <span class="ui avatar image"> <%= avatar_index_url post.user, '30' %> </span>
          <div class="description">
            <%= link_to "#{post.name.titleize.truncate(70)}", post, :target => "_blank"%>
          </div>
        </div>
        <div class="extra content">
          <span class="left floated">
            <i class="check icon"></i>
            <%= pluralize(post.impressionist_count,'View') %>
          </span>
          <span class="right floated">
            <%= link_to like_post_path(post), method: :put, class: "vote", remote: true do %>
              <% if (current_user) && (current_user.voted_for? post) %>
                <i class="like icon active"></i>
                  <%= pluralize(post.votes_for.size, 'Like')%>
              <% else %>
                <i class="like icon"></i>
                <%= pluralize(post.votes_for.size, 'Like')%>
              <% end %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  <%end%>
</div>
