<form action="/search">
	<div class="ui transparent left icon input">
	  <input type="text" placeholder="Search Tutorials" name="q" autocomplete="off">
	  <i class="search icon"></i>
	</div>
</form>

