<!-- <h1 class="ui purple ribbon label">Edit Tutorial</h1> -->
<%= render 'form' %>

<!-- <div class="ui hidden divider"></div>
<div class="ui buttons">
  <div><%#= link_to 'Show', @post, class: "ui small button" %></div>
  <div class="or"></div>
  <div> <%#= link_to 'Back',posts_path, class: "ui small button" %></div>
</div> -->
