<div class="pdt50"></div>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col s12 m6">
      <div class="card-panel">
        <div class="grey-text text-darken-4 mbr20">
          <%= link_to "#{post.name.titleize.truncate(60)}", post, :target => "_blank"%>
        </div>
        <div class="card-action">
          <span class="vlignt"><%= avatar_index_url post.user, '30' %></span>
          <%= time_ago_in_words(post.created_at) + " ago"%>
          <%= link_to like_post_path(post), method: :put, class: "vote", remote: true do %>
            <% if (current_user) && (current_user.voted_for? post) %>
              <i class="material-icons" style="vertical-align:middle;">star</i>
                <span class="vlignt"><%= pluralize(post.votes_for.size, 'Like')%></span>
            <% else %>
              <i class="material-icons" style="vertical-align:middle;">star_border</i>
              <span class="vlignt"><%= pluralize(post.votes_for.size, 'Like')%></span>
            <% end %>
          <% end %>
          <span class="right">
            <i class="material-icons" style="vertical-align:middle;">visibility</i>
            <%= pluralize(post.impressionist_count,'View') %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container offset-m3 pdt50">
    <%= will_paginate @posts, class:"flickr_pagination"%>
  </div>
</div>
      <!-- <div class="col s12 m6">
        <div class="card small">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%#= "#{post.name.titleize.truncate(70)}"%><i class="material-icons right">more_vert</i></span>
            <p><%#= link_to "#{post.name.titleize.truncate(70)}", post, :target => "_blank"%></p>
            <p><%#= post.tags%></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Tutorails was sahred - <%#= time_ago_in_words(post.created_at) + " ago"%><i class="material-icons right">close</i></span>
            <p>By - <%#= avatar_index_url post.user, '30' %> </p>
          </div>
        </div>
      </div> -->

    <!-- <div class="column">
      <div class="ui cards">
        <div class="blue card">
          <div class="content">
            <i class="right floated star icon"></i>
            <div class="right floated meta"><%#= time_ago_in_words(post.created_at) + " ago"%></div>
            <span class="ui avatar image"> <%#= avatar_index_url post.user, '30' %> </span>
            <div class="description">
              <%#= link_to "#{post.name.titleize.truncate(70)}", post, :target => "_blank"%>
            </div>
          </div>
          <div class="extra content">
            <span class="left floated">
              <i class="unhide icon"></i>
              <%#= pluralize(post.impressionist_count,'View') %>
            </span>
            <span class="right floated">
              <%#= link_to like_post_path(post), method: :put, class: "vote", remote: true do %>
                <%# if (current_user) && (current_user.voted_for? post) %>
                  <i class="like icon active"></i>
                    <%#= pluralize(post.votes_for.size, 'Like')%>
                <%# else %>
                  <i class="like icon"></i>
                  <%#= pluralize(post.votes_for.size, 'Like')%>
                <%# end %>
              <%# end %>
            </span>
          </div>
        </div>
      </div>
    </div> -->
  <%#end%>
  <!-- <div class="apple_pagination ui container ">
    <%#= will_paginate @posts%>
  </div>
</div> -->

<!-- <div class="" id="posts">
 <%#= render @posts %>
</div>
<div class="will_paginate_pagination">
  <%#= will_paginate @posts%>
</div>
<div class="" id="loading" style="display:none;">
  Getting More . . .
</div> -->


<!-- <div class= "ui animated selection list">
  <h2 class="ui purple ribbon label"><%=Date.today%></h2>
  <% @posts.each do |post| %>
    <div class="item">
      <%= link_to post, class: "right floated compact" do %>
        <i class='forward icon purple' data-title = "<%= "#{pluralize(post.impressionist_count,'View')}" %>" data-content = 'Check out' data-position="top right" ></i>
      <%end%>
      <div class='right floated compact'><%= avatar_index_url post.user, '30' %> </div>
      <%= link_to like_post_path(post), method: :put, class: "vote left floated", remote: true do %>
        <% if (current_user) && (current_user.voted_for? post) %>
          <div class="ui label">
             <i class="thumbs up icon"></i><%=post.votes_for.size%>
          </div>
        <%else%>
          <div class="ui label">
           <i class="thumbs outline up icon"></i><%=post.votes_for.size%>
          </div>
        <%end%>
      <%end%>
      <div class="content">
        <div class= "header"> <%= link_to "#{post.name.truncate(70)}", link_check_path(name: "#{post.name}"), :target => "_blank",'data-title'=> "#{pluralize(post.impressionist_count,'View')}"%> </div>
      </div>
    </div>
  <%end%>
</div> -->
  <!-- <div class = "apple_pagination"> <%= will_paginate @posts%> </div> -->
