<div class= "ui animated selection list">
  <h2 class="ui purple ribbon label">Search Result</h2>
  <% unless @result.blank? %>
	  <% @result.each do |post| %>
	    <div class="item">
	      <%= link_to post, class: "right floated compact" do %>
	        <i class='forward icon purple' data-title = "<%= "#{pluralize(post.impressionist_count,'View')}" %>" data-content = 'Check out' data-position="top right" ></i>
	      <%end%>
	      <div class='right floated compact'><%= avatar_index_url post.user, '30' %> </div>
	      <%= link_to like_post_path(post), method: :put, class: "vote left floated", remote: true do %>
	        <% if (current_user) && (current_user.voted_for? post) %>
	          <div class="ui label">
	             <i class="thumbs up icon"></i><%=post.votes_for.size%>
	          </div>
	        <%else%>
	          <div class="ui label">
	           <i class="thumbs outline up icon"></i><%=post.votes_for.size%>
	          </div>
	        <%end%>
	      <%end%>      
	      <div class="content">
	        <div class= "header"> <%= link_to "#{post.name.truncate(70)}", link_check_path(name: "#{post.name}"), :target => "_blank",'data-title'=> "#{pluralize(post.impressionist_count,'View')}"%> </div>
	      </div>
	    </div>
	  <%end%>
	<%else%>
	<br> <br>
		<div class="ui purple message"><p>We are sorry! We couldn't find what you were looking for. Please try modifying your search query or please try again later.</p></div>
	<%end%> 
</div>
<%= link_to 'Back',:back, class: "ui small button" %>