<div class="pdt50"></div>
<div class="row">
  <div class="col s10 offset-m2">
    <h3><%= @post.name %></h3>
    <p>
      <strong>Link:</strong>
      <%= link_to "#{@post.link}", link_check_path(name: "#{@post.name}"), :target => "_blank", id: 'link', value: "#{@post.name}" %>
    </p>
    <p>
      <strong>Tag Line:</strong>
      <% if @post.tags.blank? %>
        No Tag line provided
      <%else%>
        <%= @post.tags %>
      <%end%>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @post.category %>
    </p>
    <p>
      <strong>Votes:</strong>
      <% if @user.blank? %>
       <%= link_to like_post_path(@post), method: :put, class: "vote", remote: true do %>
        <div class="ui label">
          <i class="like icon"></i>No Votes. Be the first to like the tutorial.
        </div>
       <%end%>
        <br /> <br />
      <%else%>
        <div>
          <% @user.each do |item| %>
            <span>
              <%= avatar_url item, '48' %>
            </span>
          <%end%>
        </div>
      <%end%>
    </p>
    <div>
      <% if @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn waves-effect waves-light" %>
      <% end %>
        <%= link_to "Back", :back, class: "btn waves-effect waves-light" %>
        <%= link_to "Suprise Tutorial","/tutorial/#{Post.recommend.slug}", class: "btn waves-effect waves-light"%>
    </div>

    <!-- <div class="">
      <%= link_to "" ,@post.link, id: "anchor"%>
      <div class="urlive-container">
        <span class="loading">
          <div class="ui active inverted dimmer">
          <div class="ui text loader">Preparing Files</div>
        </div>
      </span>
        <div class="failed"></div>
      </div>
    </div> -->
  </div>
</div>

<!-- <script type="text/javascript">
$(function(){
  $('#anchor').urlive({
    imageSize: 'small',
    callbacks:{
      onStart: function(){
          $('.loading').show();
      },
      onSuccess: function(){
        $(".loading").hide();
      },
      onLoadEnd: function(){
          $('.loading').hide();
      },
      noData: function () {
          $('.loading').hide();
          $(".failed").append("<div class='ui orange message'>Failed to load Preview.</div>");
      },
      onFail: function() {
        $('.loading').hide()
      }
    }
  });
   $('img').popup({inline: true});
   $('.urlive-container').on('click',function(){
    var value = $('#link').attr('value');
      //var href = $('.urlive-link').attr('href');
      $.ajax({
        type: 'GET',
        url: '/link/check',
        data: {name: value}
      });
   });
});
</script> -->
