<div class="pdt50"></div>
<% unless @posts.blank? %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col s12 m6">
        <div class="card-panel">
          <div class="grey-text text-darken-4 mbr20">
            <%= link_to "#{post.name.titleize.truncate(60)}", post, :target => "_blank"%>
          </div>
          <div class="card-action">
            <span class="vlignt"><%= avatar_index_url post.user, '30' %></span>
            <%= time_ago_in_words(post.created_at) + " ago"%>
            <%= link_to like_post_path(post), method: :put, class: "vote", remote: true do %>
              <% if (current_user) && (current_user.voted_for? post) %>
                <i class="material-icons" style="vertical-align:middle;">star</i>
                  <span class="vlignt"><%= pluralize(post.votes_for.size, 'Like')%></span>
              <% else %>
                <i class="material-icons" style="vertical-align:middle;">star_border</i>
                <span class="vlignt"><%= pluralize(post.votes_for.size, 'Like')%></span>
              <% end %>
            <% end %>
            <span class="right">
              <i class="material-icons" style="vertical-align:middle;">visibility</i>
              <%= pluralize(post.impressionist_count,'View') %>
            </span>
          </div>
        </div>
      </div>
    <%end%>
  </div>
<%else%>
  <div class="container">
    <div class="header">
      You have not posted any tutorails yet, share your best tutorials with us.
    </div>
    <p> <%= link_to "Get Started!", '/tutorial/new' %> </p>
 </div>
<%end%>
