/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require urlive
 *= require_self
 */

 @import "materialize";

.pdt50{
  padding-top: 50px;
}
.increase-height{
  height: auto;
}

/* label color */
 .input-field label, .input-field input[type=checkbox], .input-field[type=url] {
   color: #000;
  //  color: $light-blue #40c4ff;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=url]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus, .input-field input[type=url]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 .input-field .prefix.active {
   color: #000;
 }
 .btn, .btn-large{
  background-color: color("light-blue", "accent-3") ;
 }
 .btn:hover, .btn-large:hover {
  background-color: color("light-blue", "accent-3") ;
}
.card-action{
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding-top: 10px;
}
.mbr20{
  margin-bottom: 20px;
}
.vlignt{
  vertical-align: text-top;
}
.image-round{
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 0px;
}
.page-flexbox-wrapper{
  display: flex ;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 1 auto;
}
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #000; }
  .flickr_pagination a {
    // border: 1px solid #dddddd;
    // color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      // border-color: #003366;
      // background: #0063dc;
      // color: white;
    }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
