/*
 * jquery.urlive.css v1.1.1, jQuery URLive
 *
 * View the plugin repository at:
 * https://github.com/markserbol/urlive
 *
 */

.urlive-link {
	color:inherit;
	text-decoration:none;
	display:block;
	width:auto;
	overflow:auto;
	position:relative;
	overflow:hidden;
	margin:0;
	background:#EFEFEF;
	font-size:16px;
	line-height:normal;
}

.urlive-link:hover {
	box-shadow:0 0 4px rgba(10,10,10,0.6);
}

.urlive-link * {
	display:block;
}

.urlive-image {
	width:100%;
	display:block;
}

.urlive-title {
	font-size:1.15em;
	font-weight:bold;
}

.urlive-description {
	font-size:1em;
}

.urlive-url {
	font-size:0.9em;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.urlive-sitename, .urlive-type {
	display:none;
}

.urlive-img-wrapper {
	float:left;
	margin-right:10px;
}

.urlive-text-wrapper {
	overflow:auto;
	padding:10px;
}

/* SMALL IMAGE STYLES*/
.urlive-img-small .urlive-img-wrapper {
	width:auto;
	max-width:100px;
}

/* LARGE IMAGE STYLES */
.urlive-img-large .urlive-img-wrapper {
	width:100%;
	max-width:none;
	float:none;
}