<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width">
   </head>
	 <style>
	 @import url(https://fonts.googleapis.com/css?family=Lato:400,700);

	 @media only screen{html{min-height:100%;background:#f3f3f3}}
	 @media only screen and (max-width:596px){.small-float-center{margin:0 auto!important;float:none!important;text-align:center!important}.small-text-center{text-align:center!important}.small-text-left{text-align:center!important}.small-text-right{text-align:right!important}}
	 @media only screen and (max-width:596px){table.body table.container .hide-for-large{display:block!important;width:auto!important;overflow:visible!important}}
	 @media only screen and (max-width:596px){table.body table.container .row.hide-for-large{display:table!important;width:100%!important}}
	 @media only screen and (max-width:596px){table.body table.container .show-for-large{display:none!important;width:0;mso-hide:all;overflow:hidden}}
	 @media only screen and (max-width:596px){table.body img{width:auto!important;height:auto!important}table.body center{min-width:0!important}table.body .container{width:95%!important}table.body .column,table.body .columns{height:auto!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:16px!important;padding-right:16px!important}table.body .column .column,table.body .column .columns,table.body .columns .column,table.body .columns .columns{padding-left:0!important;padding-right:0!important}table.body .collapse .column,table.body .collapse .columns{padding-left:0!important;padding-right:0!important}td.small-1,th.small-1{display:inline-block!important;width:8.33333%!important}td.small-2,th.small-2{display:inline-block!important;width:16.66667%!important}td.small-3,th.small-3{display:inline-block!important;width:25%!important}td.small-4,th.small-4{display:inline-block!important;width:33.33333%!important}td.small-5,th.small-5{display:inline-block!important;width:41.66667%!important}td.small-6,th.small-6{display:inline-block!important;width:50%!important}td.small-7,th.small-7{display:inline-block!important;width:58.33333%!important}td.small-8,th.small-8{display:inline-block!important;width:66.66667%!important}td.small-9,th.small-9{display:inline-block!important;width:75%!important}td.small-10,th.small-10{display:inline-block!important;width:83.33333%!important}td.small-11,th.small-11{display:inline-block!important;width:91.66667%!important}td.small-12,th.small-12{display:inline-block!important;width:100%!important}.column td.small-12,.column th.small-12,.columns td.small-12,.columns th.small-12{display:block!important;width:100%!important}table.body td.small-offset-1,table.body th.small-offset-1{margin-left:8.33333%!important;margin-left:8.33333%!important}table.body td.small-offset-2,table.body th.small-offset-2{margin-left:16.66667%!important;margin-left:16.66667%!important}table.body td.small-offset-3,table.body th.small-offset-3{margin-left:25%!important;margin-left:25%!important}table.body td.small-offset-4,table.body th.small-offset-4{margin-left:33.33333%!important;margin-left:33.33333%!important}table.body td.small-offset-5,table.body th.small-offset-5{margin-left:41.66667%!important;margin-left:41.66667%!important}table.body td.small-offset-6,table.body th.small-offset-6{margin-left:50%!important;margin-left:50%!important}table.body td.small-offset-7,table.body th.small-offset-7{margin-left:58.33333%!important;margin-left:58.33333%!important}table.body td.small-offset-8,table.body th.small-offset-8{margin-left:66.66667%!important;margin-left:66.66667%!important}table.body td.small-offset-9,table.body th.small-offset-9{margin-left:75%!important;margin-left:75%!important}table.body td.small-offset-10,table.body th.small-offset-10{margin-left:83.33333%!important;margin-left:83.33333%!important}table.body td.small-offset-11,table.body th.small-offset-11{margin-left:91.66667%!important;margin-left:91.66667%!important}table.body table.columns td.expander,table.body table.columns th.expander{display:none!important}table.body .right-text-pad,table.body .text-pad-right{padding-left:10px!important}table.body .left-text-pad,table.body .text-pad-left{padding-right:10px!important}table.menu{width:100%!important}table.menu td,table.menu th{width:auto!important;display:inline-block!important}table.menu.small-vertical td,table.menu.small-vertical th,table.menu.vertical td,table.menu.vertical th{display:block!important}table.menu[align=center]{width:auto!important}}
	 </style>

   <body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;margin:0;box-sizing:border-box;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;min-width:100%;padding:0;text-align:center;width:100%!important">
      <table class="body" data-made-with-foundation="" style="margin:0;background:#f9f8f7;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;width:100%">
         <tbody>
         <tr style="padding:0;text-align:center;vertical-align:top">
            <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">
               <center min-width="580px" width="100%" style="min-width:580px;width:100%;">
                  <table class="container" width="580" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;background:##f9f8f7;border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px">
                     <tbody>
                        <tr style="padding:0;text-align:center;vertical-align:top">
                           <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">
                              <table class="row" style="border-collapse:collapse;border-spacing:0;dicsplay:table;padding:0;position:relative;text-align:center;vertical-align:middle;width:580px; margin-top: 20px; margin-bottom: 20px;">
                                 <tbody>
                                    <tr style="padding:0;text-align:center;vertical-align:middle">
                                       <th class="small-4 large-3 first columns" style="margin:0 cauto;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0 auto;padding:0;padding-left:0;padding-right:8px;text-align:center;width:75px; min-width:75px;">
                                          <table style='border: 1px solid #e0e0e0; border-radius: 5px; max-width: 75px;'><tr><td><center>
                                            <img src = "<%= image_url('logo_email.png') %>"style="width: 64px;"> </center></td></tr>															</table>
																				</th>
                                       <th class="expander" style="margin:0;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:0!important;text-align:center;visibility:hidden;width:0"></th>
                                       <th class="small-8 large-9 last columns" style="margin:0 auto;color:#333;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:19px;margin:0;auto;padding:0;padding-left:4px;padding-right:16px;text-align:left;width:419px">
																				 <h3></small></h3></th>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </center>
            </td>
         </tr>
            <!-- Campaign Details -->
            <tr style="padding:0;text-align:center;vertical-align:top">
               <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">
                  <center min-width="580px" width="100%" style="min-width:580px;width:100%;">
                     <table class="container" width="580" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px; border-color:white;" frame="box" style="border-color: #e0e0e0">
                        <tbody>
                           <tr style="padding:0;text-align:center;vertical-align:top">
                              <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">
                                 <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;margin:0 auto;padding:0;position:relative;text-align:center;vertical-align:top;width:580px; border: 1px solid #e0e0e0;" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                       <tr style="padding:0;text-align:center;vertical-align:top">
                                          <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">
                                             <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:center;vertical-align:top; width:580px;" align="center">
                                                <tbody>
                                                   <tr style="padding:0;text-align:center;vertical-align:top">
                                                      <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">
																											<h4><%= link_to 'Change Password', edit_password_url(@resource, reset_password_token: @token) %>
																											</h4></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>

                                       <tr style="padding:0;text-align:center;vertical-align:top">
                                          <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#666;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word;"><p class="text-center" style="max-width:550px; margin: auto; margin-bottom: 16px;" align="center">
																				  If you didn't request this, please ignore this email.
																					Your password won't change until you access the link above and create a new password.</p></td>
                                       </tr>

                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </center>
               </td>
            </tr>

            <tr style="padding:0;text-align:center;vertical-align:top">
               <td class="center" align="center" valign="top" style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">
                  <center min-width="580px" width="100%" style="min-width:580px;width:100%;">
                     <table class="container" width="580" style="margin:0 auto;background:#fefefe;background-color:#f9f8f7;border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0;text-align:inherit;vertical-align:top;width:580px; margin-top: 25px;" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                           <tr style="padding:0;text-align:center;vertical-align:top">
                              <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#666;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">Copyright © 2016 <strong>TutsHunt - Knowledge platform</strong>, All Rights Reserved.</td>
                           </tr>
                           <tr style="padding:0;text-align:center;vertical-align:top">
                              <td style="-moz-hyphens:auto;-webkit-hyphens:auto;margin:0;border-collapse:collapse!important;color:#666;font-family:'Lato',Helvetica,Arial,sans-serif;font-size:10px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word"><strong>Mailing Address:</strong> R6 Flat No, 1110 Aman CHS Jogeshwari (w) - 400102</td>
                           </tr>
                        </tbody>
                     </table>
                  </center>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
