<div class="footer-copyright">
  <div class="container">
    <span><%= link_to "About", '/pages/about', class: "black-text"%></span>
    <span><%= link_to "Privacy", '/pages/privacy',class: "black-text"%></span>
    <span><%= link_to "Feedback",'/contact', class: "black-text"%></span>
    <span class="right">© 2017 Copyright</span>
  </div>
</div>

<!-- <div class="ui page grid main">
  <div class="ui horizontal divider">
    <i class="heart icon"></i>
  </div>
  <div class="container">
    <div class="ui stackable divided relaxed grid">
      <div class="eight wide column">
        <h3 class="ui  header">What we are working on right now!</h3> -->
        <!-- <form target="_top" method="post" action="https://www.paypal.com/cgi-bin/webscr">
          <input type="hidden" value="_s-xclick" name="cmd">
          <input type="hidden" value="#" name="hosted_button_id">
          <button class="ui teal button disable" type="submit">Donate Today</button>
        </form> -->
        <!-- <div class="ui horizontal bulleted link list">
          <a class="item">Search (beta available)</a>
          <a class="item">Comments</a>
          <a class="item">Tutorials Category</a>
          <a class="item">Redesign</a>
          <A class="item">APIs</a>
          <a class="item">Mobile apps</a>
        </div>
      </div>
      <div class="four wide column">
        <h5 class="ui teal  header">Know More</h5>
        <div class="ui link list"> -->
          <%#= link_to "About", '/pages/about', class: "item"%>
          <%#= link_to "Privacy", '/pages/privacy',class: "item"%>
          <%#= link_to "Feedback",'/contact', class: "item" %>
          <!-- <p class="item">Proudly Made In India  <i class="india flag"></i> </p>
        </div>
      </div>
      <div class="four wide column">
        <h5 class="ui teal  header">Find me on</h5>
        <div class="ui list">
          <div class="item">
            <a class="github-button" href="https://github.com/vibhoo" data-style="mega">Follow @vibhoo</a>
          </div>
          <div class="item">
            <a href="https://twitter.com/Vibhoo" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @Vibhoo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
