  <!DOCTYPE html>
<html lang='en'>
<head>
  <title>Tutshunt | Knowledge Platform </title>
  <meta charset='utf-8'>
  <meta name="keywords" content="new alphabet tutorials, ruby on rails tutorials, php tutorials, big data tutorials, python tutorials, java tutorials, trending tutorials, tutorials community, list of tutorials, online tutorials, photoshop tutorials, programming tutorials, tips, tricks, tech tutorials, tutorials platform, list of tutorials, jquery tutorials, tuts, java tutorials, content sharing, new information, new tutorails, land on, learn something new, exciting project, community made">

  <meta name="description" content="Tutshunt.com - Curated list of tutorial around the web. Tuts hunt is a platform for  sharing tutorials you love, learn or discover something new & take your knowledge to the next level."/>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport"/>
  <meta name="author" content="Vibhoo Mishra">
  <meta name="msvalidate.01" content="22A7228EC5EDBBC9CA527CA49EC79C00" />
  <meta property="og:title" content="TutsHunt" />
  <meta property="og:url" content="http://www.tutshunt.com" />
  <meta property="og:description" content="Curated list of tutorial around the web. Tuts hunt is a platform for  sharing tutorials you love, learn or discover something new & take your knowledge to the next level." />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="page-flexbox-wrapper">
  <div class="navbar-fixed">
    <nav class="light-blue accent-3" role="navigation">
      <div class="nav-wrapper container">
        <%= link_to "TutsHunt", "/", class: 'brand-logo center' %></li>
        <!-- <a href="#" class="brand-logo center">TutsHunt</a> -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><%= link_to "Trending Tutorials", "/trending", class: 'item' %></li>
          <li><%= link_to "My Tutorials", "/users_posts", class: 'item' %></li>
          <li><%= link_to "Likes", "/likes", class:'item' %></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li>
              <!-- <i class="icon"> -->
              <!-- <%=avatar_url current_user ,'18'%></i> -->
              Hey! <%= current_user.name%>
                <%= current_user.email if current_user.name.blank? %>
            </li>
            <li>
              <%= link_to " New ", '/tutorial/new', class:'item'%>
            </li>
            <li>
              <%= link_to " Logout ", destroy_user_session_path, :method => :delete, class: "item"%>
            </li>
          <% else %>
          <li>
            <a class="item" href="/users/sign_in">Log in</a>
          </li>
          <li>
            <a class="item"href="/users/sign_up">Sign Up</a>
          </li>
          <%end%>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to "Your Tutorials", "/users_posts", class: 'item' %></li>
          <li><%= link_to "Likes", "/likes", class:'item' %></li>
          <% if current_user %>
            <li class="item">
              <i class="icon"><%=avatar_url current_user ,'18'%></i>Hey! <%= current_user.name%>
                <%= current_user.email if current_user.name.blank? %>
            </li>
            <li class="item">
              <i class="write icon"></i><%= link_to " New ", '/tuts/new'%>
            </li>
            <li class="item"> <i class="sign out icon"></i>
              <%= link_to " Logout ", destroy_user_session_path, :method => :delete%>
            </li>
          <% else %>
          <li>
            <a class="item" href="/users/sign_in">Log in</a>
          </li>
          <li>
            <a class="item"href="/users/sign_up">Sign Up</a>
          </li>
          <%end%>
        </ul>
      </div>
    </nav>
  </div>
  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>

  <!--
  <div class="">
   <div class="ui page grid">
     <div class="sixteen wide column">
      <% if !current_user %>
        <div id="show_message" class="show_message">
         <div class="ui purple icon small message ">
            <i class="close icon"></i>
            <i class="write icon"></i>
            <div class="content">Lets build a better tutorial community. Share your favourite tutorials <%= link_to "Now", '/tuts/new' %></div>
         </div>
        </div>
      <%end%>
      <div class ="ui purple stacked segment">
       <%#= yield %>
      </div>
    </div>
  </div>
 </div>-->

<footer class= "page-footer light-blue accent-3 ">
  <%= render 'layouts/footer' %>
</footer>
</body>
</html>

<!-- Github Script. -->
<!-- <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script> -->
<% if ENV["RAILS_ENV"] == "production" %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-38058713-2', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- <script src="//my.hellobar.com/67756615443a9856f534ef76d82b54d6519efe22.js" type="text/javascript" charset="utf-8" async="async"></script> -->
<%end%>
